{% extends 'enroll/base.html' %}
{% block content %}
 <div class="row">
  <div class="col-sm-8 offset-2">
      <div class="card" style="color:white;">
         <div class="card-body bg-success">
             <h5 align="center">Edit Mail's</h5>
         </div>
     </div>
  <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Update">
    <a href="{% url 'addandshow'%}" class="btn btn-info">Back to Home</a>
   </form>
  </div>
 </div>
{% endblock content %}