<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script type="text/javascript" src="{% static 'time.js' %}"></script>
</head>
<body>
<h1 align="center">Home App2</h1>
<button onclick="myFunction()">Try it</button>

<button onclick="myFunction1()">Check window</button>
<button type="button" onclick="myFunctioner()">Set background color</button>
<img src="{% static 'san.png' %}" width="100%">

<p id="demo"></p>
</body>
</html>