{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'div-box.html' %}
<div class="container" style="color:white;">
    <br><br>
    <div class="container">
        <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 col-md-6"><h1>Python & Web Developer.</h1>
  </div>
</div>
</div>
  <div class="row">
    <div class="col-sm-3 col-md-3"><br><img src="{% static 'second.png' %}" width="250" height="260"></div>
    <div class="col-sm-3 offset-sm-2 col-md-6 offset-md-0">
        <div class="row">
    <div class="col-6 col-sm-6"><br>
                    <h6>To secure a challenging position in expand my learnings, knowledge, </h6>

        <ul><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>22 Feb 1997</span></li><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.mohammedabraruddin.com</span></li><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 99510 83423</span></li><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>HYDERABAD, INDIA</span></li><br>
    </ul>
    </div>
    <div class="col-6 col-sm-6"><br>
        <H6>a reputable organization to and skills.</H6><ul><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master of Technology</span></li><br>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li><br>
                </ul></div>
  </div>
</div>

    </div>
  </div>
</div>


{% endblock %}