{% extends 'base.html' %}
{% block content %}
 <div class="row justify-content-center">
    <div class="col-4"><br><br>
      <h1 style="color:white; font-family: Lato, Helvetica, sans-serif;font-size:75px;">Hi, I'm Mohammed Abraruddin.</h1>
        <h1 style="color:white; font-family: Lato, Helvetica, sans-serif;font-size:25px;">Python Developer. Data Scientist.</h1>
    </div>
    <div class="col-4"><br><br>
        <div style="width: 500px;height:400px;
  margin: auto;
  border-radius: 30px;
   border: 10px solid rgba(0, 0, 0, 0.3);"></div>
    </div>
  </div>
    </div>
{% endblock %}