{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'div-box.html' %}
<div class="container" style="color:white;">
<br><h1>PROFESSIONAL SUMMARY</h1><br>
<ul>
    <li>Python Developer with 2.2 years of experience in developing Web based Applications using Django Framework.</li><br>
<li>Experience in Development of web-based applications using Python and Django. </li><br>
<li>Having Good Knowledge on File Handlings. </li><br>
<li>Having Basic Knowledge on Python Pandas Library.</li><br>
<li>Having Good Knowledge on MySQL. </li><br>
<li>Having Basic knowledge of HTML, CSS, and Bootstrap.</li><br>
<li>A good team player with excellent Communication, Interpersonal, Organizational and Leadership Skills,<br> with the ability to work and adapt quickly to new environments.</li><br>
</ul>
    <center>
        <a href="{% static 'MOHAMMED_ABRARUDDIN.docx' %}" download>
            <button type="button" class="btn btn-success" >Download</button></a>
    </center>
</div>
{% endblock %}