{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 align="center">Add Book</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Book Name</td>
                        <td>{{form.book_name}}</td>
                    </tr>
                    <tr>
                        <td>Author Name</td>
                        <td>{{form.author_name}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{form.category}}</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td>{{form.ISBN}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{form.quantity}}</td>
                    </tr>
                </table>
                <center>
                    <button type="submit" class="btn" style="background-color:#c2982d; color:white;">Add</button>
                    <a href="{% url 'logout' %}" class="btn" style="background-color:#c2982d;color:white;">Logout</a>
                </center>
            </form><br>

        </div>
        <div class="col-8">
          <table class="table table-striped">
              <tr style="background-color:#c2982d;color:white;">
                  <th>Book Name</th>
                  <th>Author Name</th>
                  <th>Category</th>
                  <th>ISBN</th>
                  <th>Quantity</th>
                  <th></th>
                  <th></th>
              </tr>
              {% for item in data %}
              <tr>
                  <td>{{item.book_name}}</td>
                  <td>{{item.author_name}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.ISBN}}</td>
                  <td>{{item.quantity}}</td>
                    <td>
                        <a type="submit" class="btn btn-success btn-sm"  href="{% url 'udata' item.id %}"  >Edit</a>
                        <form action="{% url 'ddata' item.id %}" method="POST" class="d-inline">{% csrf_token %}
                  <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                  </form></td>
              </tr>
              {% endfor %}
          </table>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Book Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {% for i in form1 %}
                    <tr>
                        <td>{{i.label_tag}}</td>
                        <td>{{i}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}