<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        td{
        padding: 15px
        }
    </style>
</head>
<body>
<nav class="navbar sticky-top navbar-dark" style="background-color:#c2982d;color:white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library Management System</a>
  </div>
</nav>
<br><br>

<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 align="center">Add Book</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Book Name</td>
                        <td>{{form.book_name}}</td>
                    </tr>
                    <tr>
                        <td>Author Name</td>
                        <td>{{form.author_name}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{form.category}}</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td>{{form.ISBN}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{form.quantity}}</td>
                    </tr>
                </table>
                <center><button type="submit">Add</button></center>
            </form><br>

        </div>
        <div class="col-8">
          <table class="table table-striped">
              <tr style="background-color:#c2982d;color:white;">
                  <th>S.No</th>
                  <th>Book Name</th>
                  <th>Author Name</th>
                  <th>Category</th>
                  <th>ISBN</th>
                  <th>Quantity</th>
                  <th></th>
                  <th></th>
              </tr>
              {% for item in data %}
              <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.book_name}}</td>
                  <td>{{item.author_name}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.ISBN}}</td>
                  <td>{{item.quantity}}</td>
                  <td><a href="{% url 'udata' item.id %}" class="btn btn-success btn-sm">Edit</a></td>
                  <td><form action="{% url 'ddata' item.id %}" method="POST" class="d-inline">{% csrf_token %}
                  <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                  </form></td>
              </tr>
              {% endfor %}
          </table>
        </div>
    </div>
</div>
</body>
</html>