{% extends "base.html" %}
{% block content %}
<div class="col-lg-8 col-md-8">
                            <div class="breadcrumb__text"><br>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/1625745672.jpg" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/1625745672.jpg&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/ipl-released-players-and-retained-players">IPL Released Players and IPL Retained Players 2021</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">The player auction for the Indian Premier League took place on Tuesday in Chennai, with all eight teams bidding for the best players for their individual squads. A total of 292 players were auctioned off, including 164 Indians, 125 players from other countries, and three players from partner countries.</p>
                                                <a href="http://www.fantasypower11.com/blog/ipl-released-players-and-retained-players" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/1625737836.jpg" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/1625737836.jpg&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/all-you-need-to-know-about-ipl-2020-winner-team">All You Need to Know About IPL 2020 Winner Team</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Cricket is a passion shared by the entire country of India. Cricket is treated as if it were a religion in this country. Let us take a look at the IPL 2020 title team as the new season approaches. We have covered all you need to know about the IPL 2020 champions and how they got to this point in the competition in this article.</p>
                                                <a href="http://www.fantasypower11.com/blog/all-you-need-to-know-about-ipl-2020-winner-team" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/ravindra-jadeja">Ravindra Jadeja, Family, Wife, Net Worth, Stats, Age, Height, Awards, Birthday</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Jadeja is a left-handed opening batsman who bowls slow left-arm orthodox as an all-rounder and is known for his great and amazing fielding abilities. Fans have affectionately dubbed him 'Sir Jadeja' and wish him on 6th December as it is Jadeja Birthday. Jadeja is understood for his signature mustache and ardor for horseback riding. He is a certified horseback rider who enjoys the game a lot that it’s miles all he does in his spare time.</p>
                                                <a href="http://www.fantasypower11.com/blog/ravindra-jadeja" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/rishabh-pant">Rishabh Pant Biography, Family, Net Worth, Age, Height, Awards</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Rishabh is one of India's best Wicket Keeper-Batsmen, and he has been a regular in the Indian cricket squad after Dhoni's retirement, notably in Tests. Rishabh Pant birthday is on 4th October and is well-known for his reckless attitude to circumstances and aggressive batting style. He was the first Indian batsman to score a six on his Test debut. Rishabh is one of the most promising young cricketers India has to offer.</p>
                                                <a href="http://www.fantasypower11.com/blog/rishabh-pant" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/ms-dhoni">MS Dhoni Biography, Family, Net Worth, Age, Height, Awards, Birthday</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">MS Dhoni is India's most popular and much-scrutinized cricketer. He's made it this far by coming from the cricketing backwaters of Jharkhand's mining state, and by using a homemade batting and wicketkeeping technique, as well as a leadership style that straddles the line between conservatism and liberality.</p>
                                                <a href="http://www.fantasypower11.com/blog/ms-dhoni" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/jasprit-bumrah">Jasprit Bumrah Stats, Family, Net Worth, Age, Wife, Height, Awards</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Jasprit Bumrah is a really uncommon kind. He is a seamer who thrives on yorkers, despite his unusual bowling motion, in which his bowling arm never bends at any time throughout his delivery stride. Bumrah is a breath of fresh air in an age when the use of the yorker has practically been forgotten.</p>
                                                <a href="http://www.fantasypower11.com/blog/jasprit-bumrah" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/ipl-team-owners-and-their-net-worth">IPL Team Owners Names &amp; Their Net Worth</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">The IPL has supporters all around the world, not only in India. The event is nothing short of a celebration, with players from all around the world racing to find a buyer. With the sport, the league is a blend of glamour and glamour. The action-packed competition is the most widely watched cricket competition on the planet. It is frequently regarded as one of modern cricket's stepping stones. On a worldwide scale, the IPL has altered the game.</p>
                                                <a href="http://www.fantasypower11.com/blog/ipl-team-owners-and-their-net-worth" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/netherland-vs-ireland-match-prediction">Netherlands vs Ireland Match Prediction – 2nd ODI</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Netherlands and Ireland will play the second match of the ongoing series on 4th May. The Netherlands won the first game of the series by a margin of one run. Ireland suffered a batting collapse at the start of the innings and couldn’t recover from it. Paul Stirling was the leading scorer for Ireland but he too couldn’t sail the sinking boat of Ireland in the game.</p>
                                                <a href="http://www.fantasypower11.com/blog/netherland-vs-ireland-match-prediction" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/Default.png" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/Default.png&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/ireland-vs-netherlands-match-prediction">Ireland vs Netherlands First ODI Match Prediction</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">Ireland’s tour of the Netherlands will start from today’s ODI match. Ireland will play three ODIs at the Sportpark Maarschal kerweerd, Utrecht</p>
                                                <a href="http://www.fantasypower11.com/blog/ireland-vs-netherlands-match-prediction" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg" data-setbg="https://fantasypower11.com/blog/public/storage/post/1625643554.jpg" style="background-image: url(&quot;https://fantasypower11.com/blog/public/storage/post/1625643554.jpg&quot;);">
                                            <!--<div class="post__meta">
                                                <h4></h4>
                                                <span></span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <h3 class="nh_heading_limit_2"><a href="http://www.fantasypower11.com/blog/who-is-the-most-dangerous-batsman-in-ipl">Who is the Most Dangerous Batsman in IPL?</a></h3>
                                            <p class="text-justify nh_short_description_limit_5">The Indian Premier Tournament (IPL), which is celebrated as an annual festival in India and other cricket-playing countries, is a Twenty-20 league in which talent from all sectors of the game appears to make the most of their abilities, whether in batting, bowling, or fielding. Today, though, we'll concentrate on the league's hitting camp. We'll rank the top five most dangerous batters in the IPL and evaluate their statistics and finest performances to determine who takes the top spot and is dubbed the IPL Most Dangerous Batsman.</p>
                                                <a href="http://www.fantasypower11.com/blog/who-is-the-most-dangerous-batsman-in-ipl" class="primary-btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="categories__pagination">
                                    <nav>
        <ul class="pagination">

                            <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                    <span class="page-link" aria-hidden="true">‹</span>
                </li>





                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="http://www.fantasypower11.com/blog?page=2">2</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="http://www.fantasypower11.com/blog?page=3">3</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="http://www.fantasypower11.com/blog?page=4">4</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="http://www.fantasypower11.com/blog?page=5">5</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="http://www.fantasypower11.com/blog?page=6">6</a></li>


                            <li class="page-item">
                    <a class="page-link" href="http://www.fantasypower11.com/blog?page=2" rel="next" aria-label="Next »">›</a>
                </li>
                    </ul>
    </nav>

                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}
