{% extends 'base.html' %}
{% block content %}
<form action="" method="post" novalidate>
     {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors%}
    <p>{{ error}}</p>
    {% endfor %}
      {% endif %}
    <table>
        {% for fm in form %}
        <tr><td>{{fm.label_tag}}</td><td>{{fm}}</td><td> {{fm.errors|striptags}}</td></tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save" class='btn' style="background-color:#c2982d;color:white;">
    <a href="{% url 'show' %}" class='btn' style="background-color:#c2982d;color:white;">Back</a>
</form>
{% endblock %}