<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="modal-body">
        <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {% for i in form1 %}
                    <tr>
                        <td>{{i.label_tag}}</td>
                        <td>{{i}}</td>
                    </tr>
                    {% endfor %}
                </table>
          <input type="submit" class='btn' style="background-color:#c2982d;color:white;" value="Submit">
            </form>
      </div>
</body>
</html>