{% extends 'base.html' %}
{% block content %}
    <h1 align="center">Student Details</h1>
<div class="container">
  <form method="POST" action="app2">
    {% csrf_token %}
    <div class="mb-3">
    <label for="id" class="form-label">User ID</label>
    <input type="text" class="form-control" name="uid" id="uid">
  </div>
  <div class="mb-3">
    <label for="id" class="form-label">Student ID</label>
    <input type="text" class="form-control" name="id" id="id">
  </div>
    <div class="mb-3">
    <label for="id" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name">
  </div>
  <div class="mb-3">
    <label for="id" class="form-label">Age</label>
    <input type="text" class="form-control" name="age" id="age">
  </div>
    <div class="mb-3">
    <label for="id" class="form-label">Class</label>
    <input type="text" class="form-control" name="cls" id="cls">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<hr>
<div class="container">
<table class="table">
  <thead class="table table-dark table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>

  {% for i in data %}
  <tr>
  <td>{{i.sid}}</td>
  <td>{{i.name}}</td>
  <td>{{i.age}}</td>
  </tr>
  {% endfor %}
</table></div>

{% endblock %}
